.books-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
}

.books-container .book,
.books-container .bookResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
  padding: 0 10px;
}

.book .header,
.bookResults .title,
.bookResults .genre,
.bookResults .votes,
.bookResults .year,
.bookResults .rating {
  flex: 1 0 25%;
}
