/* quick reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* relevant styles */
.img__wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(194, 196, 196, 0.72);
  color: #fff;
  text-align: center;
  padding-top: 30%;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.img_star {
  position: absolute;
  top: 5px;
  left: 70px;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}
