/* quick reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* relevant styles */
.img__wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.img__description {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: #fffff3b8;
  color: #6e6e6eff;
  text-align: center;
  padding-top: 25%;
  padding-bottom: 50%;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.img_star {
  position: absolute;
  top: 5px;
  left: 70px;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}
