.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
  /* margin-top: 10px; */
}

.header-container .headers, .results-container{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.posterEntry {
	width: 300px;
}

.posterEntry .title, .posterEntry .id, .posterEntry .rating, .posterEntry .votes, .headers .header {
  /*flex: 1 0 25%;*/
}
