.search-container,
.results-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 70px;
}

.search-container .searchs,
.results-container .bookResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.bookResults .title,
.bookResults .id,
.bookResults .rating,
.bookResults .votes,
.headers .header {
  flex: 1 0 25%;
}
