.header-container,
.results-container {
  display: flex;
  flex-flow: column wrap;
  /* margin-top: 10px; */
}

.header-container .headers,
.results-container .bookResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.bookResults .title,
.bookResults .id,
.bookResults .rating,
.bookResults .votes,
.headers .header {
  flex: 1 0 25%;
}
